.-most-viewed-tags {
  .rewind-report-title {
    box-sizing: border-box;
    border: none;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .rewind-report-container {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  .rewind-card {
    @include rewind-border;
    width: max-content;
    flex-grow: 1;
    position: relative;
    margin-top: 1.5em;
    min-width: 150px;
    border-radius: 0 4px 4px 4px;

    &::before {
      display: block;
      content: "";
      width: 3em;
      height: 1em;
      border: 2px solid #00ff00;
      border-bottom: none;
      border-radius: 6px 6px 0 0;
      position: absolute;
      top: calc(-1em - 2px);
      left: -2px;
      background: #111;
    }

    &:hover {
      background-color: var(--secondary-very-high);

      &::before {
        background-color: var(--secondary-very-high);
      }
    }
  }
}

.most-viewed-tags__tag {
  font-family: var(--pixel-text);
}
