.-post-used-reactions {
  .rewind-card {
    @include rewind-border;
  }

  .rewind-reactions-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .rewind-reactions-row {
    display: grid;
    grid-template-columns: 25px 50px 1fr;
    gap: 1em;
    padding: 1em 0;

    img.emoji {
      vertical-align: baseline;
    }
  }

  .emoji {
    height: 25px;
    width: 25px;
  }

  .percentage {
    font-weight: normal;
    font-display: var(--pixel-text);
    font-size: 16px;
    color: #fff;
  }

  .rewind-reactions-bar {
    background: #fff;
    border: 1px solid rgb(var(--primary-rgb), 0.2);
    height: 25px;
  }

  .rewind-total-reactions {
    font-size: 12px;
    font-weight: normal;
    margin-top: 1em;
    color: #00ff00;
    text-align: start;
  }
}
