.rewind-container {
  border-radius: var(--d-border-radius);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  h1,
  h2 {
    font-size: 24px;
  }

  &.-fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: calc(100vw - (100vw - 100%) + 2px);
    height: 100vh;
    position: fixed;
    background: rgb(var(--secondary-rgb), 0.5);
    backdrop-filter: blur(4.9px);

    @media (width <= 768px) {
      padding: 0;
    }
  }
}

.rewind {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 960px;
  border-radius: 30px;
  container-type: size;
  position: relative;
  overflow: hidden;

  @media (width <= 768px) {
    border: none;
    border-radius: 0;
  }

  &::before,
  &::after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
  }

  &:before {
    width: 100%;
    height: 2px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    animation: scanline 6s linear infinite;
  }

  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 1s steps(60) infinite;
  }
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

.rewind__scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  background: #111;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--safe-area-inset-bottom);
  padding-top: 2em;
}

.rewind__exit-fullscreen-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.rewind__prev-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.rewind__next-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.rewind-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100cqh;
  gap: 1em;
  box-sizing: border-box;

  &__text {
    font-weight: 700;
    font-size: var(--font-up-2);
  }
}
